<footer>
  <div>
    <address class="h-card">
      <p class="p-name">noesya Paris</p>
      <span class="p-street-address">15 rue Hélène</span><br>
      <span class="p-postal-code">75017</span>&nbsp;<span class="p-locality">Paris</span><br>
      <span class="p-country-name">France</span>
    </address>
    <address class="h-card">
      <p class="p-name">noesya Bordeaux</p>
      <span class="p-street-address">5 rue Frédéric Joliot Curie</span><br>
      <span class="p-postal-code">33150</span>&nbsp;<span class="p-locality">Cenon</span><br>
      <span class="p-country-name">France</span>
    </address>
    {% include nav/ecosystem.html %}
    <!-- <a href="https://bcorporation.net" target="_blank" rel="noreferrer"><img src="/assets/images/logo-bcorp.svg" alt="Certified B-Corporation" width="63" height="103"></a> -->
    {% picture owl_footer "/assets/images/chouette/small.png" --img alt="La chouette noesya" %}
    {% include nav/legal.html %}
    {% include nav/contacts.html %}
  </div>
</footer>
