.documents
    ul
        display: flex
        flex-wrap: wrap
        margin-bottom: $grid-gutter*2
    li
        margin-bottom: $grid-gutter/2
        margin-right: $grid-gutter/2
        a
            border: 1px solid $border-color
            border-radius: 4px
            font-size: px2rem(22)
            padding: 5px $grid-gutter
            text-decoration: none
