.index
    header
        @include grid(12)
        padding-bottom: 0
        div:first-child
            grid-column: 1/9
        div:last-child
            grid-column: 9/13
            grid-row-start: 2
            img
                display: block
        h1
            padding-bottom: 0
            @include media-breakpoint-up(lg)
                font-size: px2rem(55)
                line-height: px2rem(75)
