.index
    header
        @include grid(12)
        min-height: 100vh
        @include media-breakpoint-up(md)
            padding-bottom: 100px
        padding-bottom: 180px
        position: relative
        div:first-child
            grid-column: 1/9
        div:last-child
            grid-column: 9/13
        img
            bottom: 0
            display: block
            position: absolute
            right: 8%


