<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include seo.html %}

    <!-- Preload -->
    <link rel="preload" href="https://www.noesya.coop/assets/css/main.css" as="style">

    <!-- CSS -->
    <link rel="stylesheet" href="https://www.noesya.coop/assets/css/main.css">
  </head>
  <body>
    {% include header.html %}
    <main aria-label="Content" class="{{ page.class | default: layout.class }}">
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="https://www.noesya.coop/assets/js/main.js" async defer></script>
  </body>
</html>
