---
layout: default
class: document
---

<header>
  <div>
    <p class="h1"><a href="/documents">Documents</a></p>
    <h1>{{ page.title }}</h1>
  </div>
</header>

{% assign category = site.categories | where: 'slug', page.category | first %}
{% assign year = site.years | where: 'slug', page.year | first %}
<article>
  <a href="{{page.file}}" target="_blank" rel="noreferrer">
    <div>
      <i class="icon icon-document"></i><br>
      <span>
        <i class="icon icon-{{page.category}}"></i>
        {{category.title}}
      </span>
    </div>
    <div>
      Téléchargement le document<br>
      <span>{{page.size}} • {{year.title}}</span>
      <p>{{ page.description }}</p>
    </div>
  </a>
</article>
